@{
    ViewData["Title"] = "Result Page";
}

<!DOCTYPE html>
<html>

<head>
    <title>Exercise 001 Form</title>
</head>

<body>
    <div>
        <h4><i>Contract Information</i></h4>
        <label>First name: @ViewBag.fname</label><br/>
        <label>Last name: @ViewBag.lname</label><br/>
        <label>Email: @ViewBag.email</label><br/>
    </div>
    <br/><br/>
    <div>
        <h4><i>Competition Question</i></h4>
        <label><b>How tall is the Eiffel Tower in Paris, France?</b></label><br/>
        <label>@ViewBag.heights</label>
    </div>
    <br/><br/>
    <div>
        <h4><i>Tiebreaker Question</i></h4>
        <label><b>In 25 words or less, say why you would like to win $10,000:</b></label><br/>
        <label>@ViewBag.answer</label>
    </div>
</body>

</html>

